<!-- Is it page? -->
{% if page.media_url contains '.jpg' or page.media_url contains '.jpeg' or page.media_url contains '.png' or page.media_url contains '.gif' %}

<div>
    <div class="media">
        <a href="javascript:window.contentControls.next()">
            <img src="{{ page.media_url }}"/>
        </a>
    </div>
</div>

<!-- Assume video url. -->
{% elsif page.media_url %}
<div>
	<div class="media">
         <iframe src="{{ page.media_url }}" width="500" height="281" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="text">
        <div>
            <strong>
                {{ page.title }}
            </strong>
        </div>
        <pre>{{ page.description }}</pre>
    </div>
</div>

<!-- Regular page -->
{% else %}

{{ content }}

{% endif %}
