<div class="bs-docs-sidebar affix col-sm-2 col-xs-2">
<nav>
<div id="menu">
{% assign j = 0 %}
<ul class="nav">
	<li class="">
        <!-- IE fix: open new tab when using anhor with blank attribute -->
        <a id="{{ j }}" href="/"><span>mykyta-lyskov</span></a>
    
        <div class="lang">
			<!-- 
			<a href="/?locale=ru"><span>ru</span></a>
            <a href="/?locale=us"><span>en</span></a> 
        	-->
        </div>
    </li>

    <!-- TODO: move category_name to _config.yaml -->

    {% assign category_name = 'animation' %}
    {% assign additional_class = '' %}
    {% include main_sidebar_submenu.html %}

    {% assign category_name = 'pictures' %}
    {% assign additional_class = 'calendar' %}
    {% include main_sidebar_submenu.html %}

    {% assign category_name = 'contacts' %}
    {% assign additional_class = '' %}
    {% include main_sidebar_submenu.html %}
</ul>
</div>
<div class="nav-bottom">&nbsp;</div>
</nav>
</div>

<script src="/assets/js/category_view.js"></script>