/* Tweaks for small-sreen devices like smartphones */

/* Minimum resolution */
@media only screen
and (min-resolution: 190dpi) {
  /* most of the text on the page */
  span, pre, strong {
    font-size: 2em;
  }

  /* arrows above the media content */
  #content-controls {
    font-size: xx-large;
  }

  #content .media img, #content .media iframe {
	max-width: 100%;
	max-height: 100%;
  }

  .bs-docs-sidebar.col-sm-2 {
    width: 25em;
    max-width: 100%;
  }

  .bs-docs-sidebar ul li.calendar ul li {
    min-width: 4em;
    min-height: 4em;
  }

  /* dashed background on main menu */
  .bs-docs-sidebar ul:first-child > li, .nav-bottom {
      background-size: 2em 3em;
      min-height: 2em;
  }
}