<!-- HELP: https://shopify.github.io/liquid/basics/types/ -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ site.baseTitle }} - {{ page.title }}</title>
  <!-- Site theme -->
  {% assign themebaseurl = site.baseurl | append: '/' | append: site.themename %}

  {% include main_styles.html %}
  
  {% seo %}

  <link rel="shortcut icon" href="/assets/img/favicon.ico"/>
</head>
<body>

<div id="container" class="container-fluid">
  {% include main_sidebar.html %}
  <div id="content-wrap" class="col-5">
      {% include main_content_controls.html %}
      <div id="content">
        <div>
          {% include main_content.html %}
        </div>
        {% include disqus.html %}
      </div>
  </div>
  
</div>

{% include main_scripts.html %}

<!-- Google analytics -->
{% include analytics.html %}

{% if page.start_event %}
  <!-- select first item from list -->
  <script type="text/javascript">
    $('body').trigger('{{ page.start_event }}');
  </script>
{% endif %}

</body>
</html>
