<!-- HELP: https://shopify.github.io/liquid/basics/types/ -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="Nikita Liskov portfolio" />
  <meta name="keywords" content="Никита Лыськов, микита Лиськов, nikitaliskov, mykyta Lyskov, Кохання, deep love, днепр, Дніпро, Dnipro" />
  <meta name="author" content="Nikita Liskov" />
  <title>{{ page.title }} - {{ site.baseTitle }}</title>
  <!-- Site theme -->
  {% assign themebaseurl = site.baseurl | append: '/' | append: site.themename %}

  {% include main_styles.html %}
  
  {% seo %}

  <link rel="shortcut icon" href="/assets/img/favicon.ico"/>
</head>
<body>

<div id="container" class="container-fluid">
  <div class="bs-docs-sidebar affix col-sm-2 col-xs-2">
    <nav>
      {% include main_sidebar.html %}
      <div class="nav-bottom">&nbsp;</div>
    </nav>
  </div>
  <div id="content-wrap" class="col-5">
      {% include main_content_controls.html %}
      <div id="content" class="media">
        <div>
          {% include main_content.html %}
        </div>
        <!-- see disqus in main_content -->
      </div>
  </div>
  
</div>

{% include main_scripts.html %}

<!-- Google analytics -->
{% include analytics.html %}

{% if page.start_event %}
  <!-- select first item from list -->
  <script type="text/javascript">
    $('body').trigger('{{ page.start_event }}');
  </script>
{% endif %}

</body>
</html>
